# Nome com que o HD é reconhecido com o comando lsusb
# digite lsusb como root e procure pelo seu HD
ID_HD="Seagate RSS LLC FreeAgent GoFlex USB 2.0"

# Ponto de montagem do HD Externo. Se for ocaso você deve
# criá-lo previamente ex.: "mkdir /mnt/hd_usb"
HD="/mnt/hd_usb"

# Sistema de arquivo utilizado pelo HD. Essa informação será utilizada
# pelo script ao  mountar
FSHD="ext3"

# Dispositivo alocado para o HD
LABEL_HD="nome_do_meu_hd"

# Email do destinatário que receberá os emails
DESTINATARIO="meu@email.com"

# Nome do Servidor
NOME_SERVIDOR="MeuServidor"

# Nome do diretório onde serão armazenados os backups no HD externo
# É necessário criá-lo manualmente na raiz do HD ex.: "mkdir /mnt/hd_usb/backup"
# o nome dessa pasta deve ser única para cada arquivo .conf que você possuir
LOCAL_BACKUP="backup"

# Arquivo com a lista de diretórios/arquivos para backup
# Esse arquivo deve ser criado dentro da pasta principal do script
LISTA_BACKUP="bkp.list"

# Arquivos com a lista de arquivos e diretórios
# que devem ser excluídos do sistema de backup
# Ele deve ser criado dentro da pasta do script
NAO_FAZER_BACKUP="bkp.excluded.list"

# Quantidade de arquivos (meses) mortos (OLD) que devem 
# ser armazenados
N_OLD="2"
