# Ponto de montagem do HD Externo. Se for ocaso você deve
# Nome (label) do HD externo utilizado para armazenar os backups
LABEL_HD="nome_do_meu_hd"

# criá-lo previamente ex.: "mkdir /mnt/hd_usb"
HD="/mnt/hd_usb"

# Sistema de arquivo utilizado pelo HD. Essa informação será utilizada
# pelo script ao  mountar
FSHD="ext3"

# Email do destinatário que receberá os emails
DESTINATARIO="meu@email.com"

# Nome do Servidor
NOME_SERVIDOR="MeuServidor"

# Arquivo com a lista de diretórios/arquivos para backup
# Esse arquivo deve ser criado dentro da pasta principal do script
LISTA_BACKUP="bkp.list"

# Arquivos com a lista de arquivos e diretórios
# que devem ser excluídos do sistema de backup
# Ele deve ser criado dentro da pasta do script
NAO_FAZER_BACKUP="bkp.excluded.list"

# Quantidade de meses que devem ser salvos em backup 
# Ex.: Um arquivo full.tar.gz possui informações do
# mes imediatamente anterior. Se essa variável for
# setada para um número superior a 1, automaticamente
# o script irá armazenar os arquivos FULL antigos como
# AAAA-MM.CONF_NAME.full.tar.gz.OLD
N_OLD="2"
